* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --dark-grey: #1F1F21;
    --light-grey: #434344;
    --primary-blue: #007aff
}

body {
    background: var(--primary-blue);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: auto;
    max-height: 750px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.header {
    width: 100%;
    text-align: center;
    color: #000;
    padding: 1rem;
}

.header span {
    font-size: 40px;
    font-weight: bolder;
}

.header .hit {
    color: rgb(215, 26, 26);
    font-style: italic;
}

#attempts-field {
    font-weight: bold;
    font-size: 18px;
}

.img-field {
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flagInput {
    border: 1px solid var(--dark-grey);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.input-fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-top: 1rem;
}

#country-input {
    padding: 10px 1rem;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-blue);
    font-size: 18px;
}

.btn-fields {
    display: flex;
    justify-content: space-between;

}

.btn-fields button {
    background: var(--primary-blue);
    border: none;
    outline: none;
    padding: 0.6rem 0;
    border-radius: 12px;
    width: 40%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-fields button:hover {
    background: #024387;
}

.country-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}
.country-list li{
    border: 1px solid var(--light-grey);
    list-style: none;
    padding: 5px;
    margin-top: 5px;
}

.circle {
    height: 500px;
    width: 500px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: circle(50% at left 80%);
}

.circle2 {
    height: 500px;
    width: 500px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: circle(50% at right 20%);
}

#result {
    font-size: 18px;
    margin-top: 20px;
}
